<% if (title) { %>
    <h1><%- title %></h1>
  <% } else {res.redirect('/') } %>
  
<%# Unity 4, activity %>
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
   </ul>
<% } %>

<div class = "content">
        <p>FIELD IS REQUIRED</p>
        <form id="addclassificationForm" action="/inv/addclassification" method="post">
            <fieldset>
                <label for="classification_name">Classification Name</label><br><br>
                <label>NAME MUST BE ALPHABETIC CHARACTARS ONLY</label><br><br>
                <input type="text" id="classification_name" name="classification_name" placeholder="min 3 character" size="25" required pattern="[A-Za-z]{3,10}" value="<%= locals.classification_name %>"><br><br>
                <input type="submit" value="Add Classification"><br><br>
            </fieldset>
        </form>
</div>
