<% if (title) { %>
    <h1><%- title %></h1>
  <% } else {res.redirect('/') } %>
  
<%# Unity 4, activity %>
<%- messages() %>

<div class = "content">
<section id="form">
    <p>ALL FIELDS ARE REQUIRED</p>
    <form id="registerForm" action="/account/register" method="post">
        <fieldset>
            <label for="">Classification</label><br>
            <input type="text" id="" name="" required><br><br>
            <label for="">Make</label><br>
            <input type="text" id="" name="" required pattern="[A-Za-z]{3,10}"><br><br>
            <label for="">Model</label><br>
            <input type="text" id="" name="" required pattern="[A-Za-z]{3,10}"><br><br>
            <label for="">Description</label><br>
            <textarea name="message" style="width:250px; height:50px;"></textarea><br><br>
            <label for="">Image Path</label><br>
            <input type="text" id="" name="" value="/images/vehicles/no-image.png" style="width:250px"><br><br>
            <label for="">Thumbnail Path</label><br>
            <input type="text" id="" name="" value="/images/vehicles/no-image-tn.png" style="width:250px"><br><br>
            <label for="">Price</label><br>
            <input type="number" id="" name="" ><br><br>
            <label for="">Year</label><br>
            <input type="text" id="" name="" pattern="[0-9]{4}" title="4-digit year"><br><br>
            <label for="">Miles</label><br>
            <input type="text" id="" name="" pattern="[0-9]{1,7}"><br><br>
            <label for="">Color</label><br>
            <input type="text" id="" name="" pattern="[A-Za-z]{3,10}"><br><br>
            <input id="BtnRegister" type="submit" value="Add Vehicle">
        </fieldset>
    </form>
</section>
</div>
